<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tdct</string>
		<string>scotiabank</string>
		<string>bmoolbb</string>
		<string>cibcbanking</string>
		<string>conexus</string>
		<string>rbcmobile</string>
		<string>pcfbanking</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Grenze-Bold.ttf</string>
		<string>Grenze-BoldItalic.ttf</string>
		<string>Grenze-Italic.ttf</string>
		<string>Grenze-Medium.ttf</string>
		<string>Grenze-Regular.ttf</string>
		<string>Grenze-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
